html,
body {
  /* height: 100%; */
  position: relative;
}


#page-content {
  flex: 1 0 auto;
}

@import "css/all.css";

/* #sticky-footer {
  flex-shrink: none;
} */

/* Other Classes for Page Styling */

/* body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
} */

.container{
  margin-top: 0px;

}
.text-align-center {
  text-align: center;
  font-size: 60px;
}

#about {
  margin-top: 100px;
  /* The image used */
  /* background-image: url("../img/flower.jpg"); */

  /* Set a specific height */
  min-height: 150px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact {
  margin-top: 100px;
  /* The image used */
  /* background-image: url("../img/applications.jpg"); */

  /* Set a specific height */
  min-height: 150px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#oats {
  /* The image used */
  margin-top: 90px;
  background-image: linear-gradient(to right, #cc9900 , #e5c78d);
  width: 100%;
  /* Set a specific height */
  height: 120px;
padding-top:10px!important;

}

p{
  font-size: 16px !important;

}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 24px;
  border: none;
  outline: none;
  background-color: rgba(56, 188, 28, 1);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
  border:1px solid #fff;
}

#myBtn:hover {
  background-color: #555;
}

#videoBG
{
  margin-top: 95px;
  position: static;

  width: 100%;


}
 /* @media(min-aspect-ratio:16/9)
{
  #videoBG{height: auto;
    width: 100%;}

}
@media(max-aspect-ratio:16/9)
{
  #videoBG{
    width: 100%;}

}

@media(min-aspect-ratio:16/9)
{
  #videoBG{height: auto;
    width: 100%;}

}  */
 @media(max-aspect-ratio:16/9)
{
  .carousel-item{
    height: 80%;}

}
@media(min-aspect-ratio:16/9)
{
  .carousel-item{
    height: 80%;}

} */


.searchBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translate(-50%,50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;

}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
background: white;
color : #2f3640;
}

.searchButton {
  color: #666;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: grey;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;


}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
  width: 150px;
  padding: 0 6px;
}
}

#innovacos {
  /* The image used */
  margin-top: 90px;
background-image: linear-gradient(to right, #bc611e , #d9a57e);
  min-height: 120px;
padding-top:10px!important;
}

#covestro {
  /* The image used */
  margin-top: 90px;
background-image: linear-gradient(to right, #374c1e , #898f72);
  min-height: 120px;
padding-top:10px!important;
}



#fq {
  /* The image used */
  margin-top: 90px;
background-image: linear-gradient(to right, #846b65 , #baa9a4);
  min-height: 120px;
padding-top:10px!important;
}
#pellets {
  /* The image used */
  margin-top: 90px;
background-image: linear-gradient(to right, #c09b52 , #ddc59d);
  min-height: 120px;
padding-top:10px!important;
}

#innovacos1 {
  /* The image used */
  margin-top: 90px;
  background-image: url("../img/innovacos.jpg");
  width: 100%;
  /* Set a specific height */
  min-height: 350px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#product {
  /* The image used */
  margin-top: 90px;
  background-image: url("../img/product.png");
  width: 100%;
  /* Set a specific height */
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#partners
{
  padding-top: 100px;
  /* background-color: #a5cbb0; */
  /* padding-bottom: 70px; */
  background-image: url(../img/partner.jpg);
  background-repeat: no-repeat;
  background-origin: content-box;
  height:100vh;

}

#partners h1{
  text-align: center;
  font-size: 48px;
  /* font-weight: bold; */
  /*font-style: italic;*/

}

#applications
{
  padding-top: 100px;
  /* background-color: #fbcff8; */
  /* padding-bottom: 70px; */
  background-image: url(../img/app.jpg);
  background-repeat: no-repeat;
  background-origin: content-box;
  
 
}



#applications h1{
  text-align: center;
  font-size: 48px;
  /* font-weight: bold; */
  /*font-style: italic;*/

}

#radiant
{


  margin-top: 90px;
  background-image: linear-gradient(to right, #228B22 , #32CD32);
  /* background-color: ; */
  width: 100%;
  /* Set a specific height */
  height: 120px;
  padding-top:10px!important;
}

#saint_gobain
{


  margin-top: 90px;
  background-image: linear-gradient(to right, #c3936a , #dec2a8);
  /* background-color: ; */
  width: 100%;
  /* Set a specific height */
  height: 120px;
  padding-top:10px!important;
}
#abc_nanotech
{

  margin-top: 90px;
  background-image: linear-gradient(to right, #4e0200 , #926c65);
  /* background-color: ; */
  width: 100%;
  /* Set a specific height */
  height: 120px;
  padding-top:10px!important;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0% 0% 0% 0%;
}
.col:first-child { margin-left: 0; }

.section1 {
	clear: both;
	padding: 0px;
  margin: 0px;
  text-align: center;
  vertical-align: middle!important;
}

.col1 {
	display: inline-block;
	/* float:left;
  margin: 0% 0% 0% 0%; */
  vertical-align: top!important;
}
.col1:first-child { margin-left: 0; }



/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 16.66%;
}
.span_1_of_3 {
	width: 12.5%;
}

.span_1_of_4 {
	width: 33.3%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 800px) {
	.col { margin: 0% 0 0% 0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3, .span_1_of_4  { width: 100%; }
}
.centered {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: white;
  font-weight: 700;
}

footer {
  background: #939598;
  /* background: -webkit-linear-gradient(59deg, #a7a9ac, #e6e7e8);
  background: linear-gradient(59deg, #a7a9ac, #e6e7e8); */
  color: white;
  /* margin-top:100px; */
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}


.parallax {
  /* margin-top: 110px; */
  /* background-image: linear-gradient(to right, #bfb80a , #dcd694); */
  background: rgb(242, 243, 245);
      
  width: 100%;
  /* Set a specific height */
  height: 160px;
}

.parallax1 {
  /* margin-top: 110px; */
  /* background-image: linear-gradient(to right, #ae6e9f , #d8c3d9); */
  background: rgb(242, 243, 245);
  width: 100%;
  /* Set a specific height */
  height: 150px;
}

.utilitybar {
    display: block;
    border-bottom: 0px solid #e7e7e7;
    height: 36px;
    line-height: 36px;
    padding: 0px;
    vertical-align: middle;
}

.socialicons ul.social {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.ubarinnerwrap {
    margin: 0px auto;
    max-width: 1264px;
    padding: 0% 32px;
}

.centered{
  font-family: 'Open Sans', sans-serif !important;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #333;
  background-color: #D4E1B5;
  border-radius: 10px 0px 0px 10px;
  padding: 20px;
  width: 280px;
  font-size: 1rem;
  font-weight: bold;
  border:2px solid #bcbec0;
  z-index:1000;
  display:block;
  border-right-color: transparent;
  
}

.tab-content
{
  background-color: #D4E1B5;
  padding-bottom: 55px;
  border-radius: 10px 10px 10px 10px;
  border:2px solid #bcbec0;
  border-width: 2px 2px 2px 0px;
  height: 100%;
  /* border-left-color: transparent; */
}

.tab-content, .h2
{
  color:#333;
}

.nav-pills .nav-link {
  border-radius: .25rem;
  color: #333;
}

@media only screen and (max-width: 600px) {
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #333;
    background-color: #D4E1B5;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    width: 97%;
    font-size: 1rem;
    font-weight: bold;
    border:2px solid #bcbec0;
    z-index:1000;
    display:block;
    /* border-right-color: transparent; */
    
  }
  
  .tab-content
  {
    background-color: #D4E1B5;
    padding-bottom: 55px;
    border-radius: 10px 10px 10px 10px;
    border:2px solid #bcbec0;
    border-width: 2px 2px 2px 2px;
    height: 100%;
    margin-left: 10px;
    /* border-left-color: transparent; */
  }
  
}